*.aux
*.cp
*.cps
*.elc
*.fn
*.fns
*.ky
*.log
*.lrn
*.pg
*.tar.*
*.texi
*.toc
*.tp
*.vr
*~
/.DS_Store
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/auto-autoloads.el
/autom4te.cache
/chess-auto.el
/chess-eco.fen
/chess-test
/chess.info
/chess.texi
/config.log
/config.status
/configure
/doc/*.info
/doc/*.pdf
/doc/.dirstamp
/elc-stamp
/elisp-comp
/install-sh
/missing
/test/largedb.*
/texinfo.tex
game.*
log.*
/test.out
