# Files that Git should ignore in the GNU Hyperbole source directory.

*-autoloads.el
*-pkg.el

# Copyright (C) 2016  Free Software Foundation, Inc.
# See the "HY-COPY" file for license information.

# This file is part of GNU Hyperbole.

# Object files
*.elc

# Version control and locks.
*.orig
*.rej
*~
\.#*

# Texinfo formatting indices
*.aux
*.cps?
*.fns?
*.kys?
*.toc
*.vrs?

# Todo working files
TODO*

# Programming support
TAGS

# Video Demos
videos
