*.aux
*.cp
*.cps
*.elc
*.fn
*.fns
*.ky
*.log
*.lrn
*.pg
*.tar.*
*.toc
*.tp
*.vr
*~
/.DS_Store
/TAGS
/auto-autoloads.el
/chess-auto.el
/chess-test
/config.log
/config.status
/configure
/doc/.dirstamp
/elc-stamp
/elisp-comp
/install-sh
/missing
/test/largedb.*
/texinfo.tex
game.*
log.*
/test.out
